<%- include('templates/cabecera', {tituloweb: 'Inicio de Sesión'}) %>
<script>const results = require('../routes/route');</script>
 

<h1>Esto es una cita</h1>
  <%- include('templates/footer') %></div>