<%- include('templates/cabecera', {tituloweb: 'Inicio de Sesión'}) %>
<script>const results = require('../routes/route');
/* function redirigir (){
  location.href = "http://localhost:3000/choferes-listar";
  document.write('funciona la funcion');
}
setTimeout(redirigir(){
}, 1000 * 5); */


</script>

<h3>Realizado con éxito</h3>



<%- include('templates/footer') %>